.categoriesPage__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px 120px 130px 120px;
}

.categoriesPage .banner__left {
  width: 80%;
  margin: 0 auto;
}

.categoriesPage__title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.categoriesPage__title h2 span {
  font-size: 24px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );

  font-family: Geometria;
  font-weight: 700;
  margin-top: 50px;
}
.categoriesPage__sorting-wrapper {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 50px;
  background-color: #fff;
}
.categoriesPage__sorting {
  /* display: inline-block; */
  /* width: 100%; */
  /* background-color: #fff; */
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
}

.categoriesPage__sorting ul {
  display: flex;
  /* margin-bottom: 40px; */
}
.categoriesPage__sorting ul li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #3f3d56;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}
.categoriesPage__sorting ul .active {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  cursor: pointer;
}
.categoriesPage__sorting ul .active::after {
  content: url("../../assets/images/new_design/red_dot.svg");
  display: block;
  position: absolute;

  transition: all 0.3s linear;
  top: 13px;
  left: 50%;
  /* right: 50%; */
}

.categoriesPage--item:first-child {
  background-color: #3f3d56;
  color: #fff;
  border: 0;
}

.categoriesPage__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categoriesPage__item {
  max-width: 280px;
  font-family: Geometria;
  font-weight: 500;
  color: #272626;
  font-size: 14px;
  margin-bottom: 40px;
  border-radius: 5px;

  background-color: #ffffff;
  cursor: pointer;

  filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.05));
}
.categoriesPage__img {
  width: 280px;
}
.categoriesPage__img img {
  width: 100%;
}

.categoriesPage__item--content {
  padding: 20px;
}
.categoriesPage__name {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  color: #3e3e3e;
  /* text-align: center; */
}
.categoriesPage__price {
  text-align: left;
}

.categoriesPage__price span:first-child {
  font-size: 18px;
  font-family: Gilroy;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  margin-right: 12px;
}
.categoriesPage__price span:last-child {
  font-weight: 700;
  color: #00a907;
}

.categoriesPage__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.categoriesPage__cart-button {
  padding: 8px 35px;

  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.categoriesPage__cart-button span {
  margin-left: 15px;
}
.categoriesPage__compare-button {
  border: 1px solid #aa2727;
  border-radius: 10px;
  padding: 3px 5px 1px;
}

/* *********************************  MEDIA QUERY  ************************************* */

/* *********************************  max-width: 1400px  *************************************** */
@media (max-width: 1400px) {
  .categoriesPage__container {
    max-width: 1440px;
    padding: 150px 50px 130px 50px;
  }
}

/* *********************************  max-width: 1200px  *************************************** */
@media (max-width: 1400px) {
  /* .categoriesPage__content{
	  
  } */
}

/* *********************************  max-width: 992px  *************************************** */
@media (max-width: 992px) {
  .categoriesPage__container {
    max-width: 1440px;
    padding: 150px 30px 80px 30px;
  }
}
/* *********************************  max-width: 768px  *************************************** */
.categoriesPage__sorting--mobile {
  display: none;
}

@media (max-width: 768px) {
  .categoriesPage__container {
    max-width: 1440px;
    padding: 150px 20px 50px 20px;
  }
  .categoriesPage__title h2 {
    text-align: center;
  }
  .categoriesPage__sorting {
    display: none;
  }
  .categoriesPage__sorting--mobile {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
}

.categoriesPage__sorting-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

.categoriesPage__sorting-wrapper::-webkit-scrollbar-track {
  /* background: #ffffff; */

  /* width: 4px; */
  /* height: 4px; */
}

.categoriesPage__sorting-wrapper::-webkit-scrollbar-thumb {
  /* background: #e0e0e0; */

  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
  /* width: 4px; */
  height: 2px;
}
