.cart__container {
  padding: 150px 120px 160px 120px;
  max-width: 1440px;
  margin: 0 auto;
}
.cart__top {
  display: flex;
  justify-content: space-between;
}
.cart__top--left {
  width: 65%;
  background-color: #fff;
  padding: 30px 40px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.cart__top--titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #d6d6d6;
  margin-bottom: 20px;
}
.cart__top--titles span {
  font-size: 24px;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
}
.cart__top--radio {
  display: flex;
  align-items: center;
}
.cart__top--radio p {
  margin-left: 22px;
  display: flex;
  align-items: center;
}
.cart__top--radio p label {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  padding-left: 19px;
}
.cart__top--radio p input[type="radio"] {
  margin-top: 2px;
}

.cart__item {
  display: flex;
  margin-bottom: 23px;
  padding-bottom: 25px;
  border-bottom: 2px solid #d6d6d6;
}
.cart__item > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__item--data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__img {
  max-width: 155px;
  height: 149px;
  margin-right: 35px;
}
.cart__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart__name {
  color: #344f77;
  font-size: 14px;
  font-weight: 700;
}

.cart__counter {
  width: 64px;
  display: flex;
  /* align-items: center; */
  border-radius: 5px;
  justify-content: space-between;
  background-color: #ededed;
}
.cart__counter span {
  display: flex;
  align-items: center;
}
.cart__counter button {
  display: flex;
  align-items: center;
  padding: 2px 7px;
  cursor: pointer;
  border-radius: 5px;
}
.cart__price span {
  font-size: 18px;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
}

.cart__item--remove {
  display: flex;
  justify-content: flex-end;
}
.cart__item--remove span {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.cart__item--bottomData {
  display: flex;
  justify-content: space-between;
}
.cart__item--bottomData p {
  margin-bottom: 15px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.cart__item--bottomData span {
  margin-top: 15px;
}

/* CART__TOP--RIGHT */

.cart__top--right {
  width: 33%;
}

.cart__top--right > div {
  background-color: #fff;
  padding: 25px 10px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.cart__total ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.cart__total ul li span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  font-size: 18px;
}
.cart__total ul li:first-child span {
  color: #000;
}
.cart__total ul li:last-child {
  margin-bottom: 0;
}

.cart__total--buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.cart__total--buttons button {
  padding: 9px 15px;
  border-radius: 10px;
  font-weight: 700;
}

.cart__total--buttons .cart__total--linkButton {
  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
  color: #fff;
  cursor: pointer;
  transition: background 0.3s linear;
  position: relative;
}

.cart__total--buttons .cart__total--linkButton:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 38, 38) 0%,
    rgb(139, 25, 25) 61%,
    rgb(131, 17, 47) 100%
  );
  transition: all 0.3s linear;
}
.cart__total--buttons .cart__total--linkButton:active {
  border: 1px solid rgb(139, 25, 25);
}

.cart__total--buttons .cart__total--priceButton {
  background: #fff;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  border: 2px solid rgba(170, 39, 39, 1);
  cursor: pointer;
  transition: all 0.3s linear;
}
.cart__total--buttons .cart__total--priceButton:hover {
  color: rgba(170, 39, 39, 1);
}
.cart__total--buttons .cart__total--priceButton:active {
  border: 3px solid rgba(170, 39, 39, 1);
}

.checkout .checkout--button {
  margin-top: 30px;
}

.cart__empty h2 {
  text-align: center;
}
.cart__empty h2 span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  font-size: 28px;
}
.cart__empty--img {
  max-width: 200px;
  margin: 20px auto;
}
.cart__empty--img img {
  width: 100%;
}

/* *********************************  MEDIA QUERY  *************************************** */

/* *********************************  max-width: 1400px  *************************************** */
@media (max-width: 1400px) {
  .cart__container {
    padding: 150px 50px 80px 50px;
  }
}

/* *********************************  max-width: 1200px  *************************************** */
@media (max-width: 1200px) {
  .cart__top {
    flex-direction: column;
  }
  .cart__top--left {
    width: 80%;
    margin: 0 auto;
  }
  .cart__top--right {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .cart__top--right > div {
    padding: 25px 20px;
  }
}

/* *********************************  max-width: 768px  *************************************** */
.cart__item.mobile {
  display: none;
}
@media (max-width: 992px) {
  .cart__top {
  }
  .cart__top--left {
    width: 90%;
    margin: 0 auto;
  }
  .cart__item.desktop {
    display: none;
  }
  .cart__item.mobile {
    display: flex;
  }
  .cart__item--middleData {
    display: flex;
    justify-content: space-between;
  }
  .cart__img {
    height: 100px;
    max-width: 100px;
  }
  .cart__name {
    font-size: 12px;
  }
  .cart__price span {
    font-size: 12px;
  }
  .cart__item--bottomData,
  .cart__item--bottomData p,
  .cart__item--bottomData span {
    font-size: 10px;
    margin: 0;
  }
  .cart__counter {
    width: 50px;
  }
  .cart__counter button {
    padding: 2px 2px;
  }
  .cart__counter span {
    font-size: 12px;
  }

  .cart__top--right {
    width: 70%;
  }
  .cart__total--buttons button {
    padding: 9px 7px;
    font-size: 12px;
  }

  .cart__bottom .checkout {
    width: 90%;
    margin: 0 auto;
  }
  .cart__bottom .checkout--fields {
    width: 100%;
  }
}

/* *********************************  max-width: 575px  *************************************** */

@media (max-width: 575px) {
  .cart__container {
    padding: 150px 20px 50px 20px;
  }
  .cart__top--left {
    width: 100%;
    padding: 10px;
  }
  .cart__total--buttons button {
    font-size: 10px;
  }
  .cart__bottom .checkout {
    width: 100%;
  }
  .checkout--title {
    text-align: center;
  }
  .cart__bottom .checkout .checkout--pickup {
    padding: 20px;
  }
  .cart__bottom .checkout .checkout--delivery {
    padding: 20px;
  }
  .cart__bottom .checkout .checkout--title span {
    font-size: 18px;
  }
  .cart__bottom .checkout .checkout--flex-fields {
    flex-direction: column;
  }
  .checkout--flex-fields p input {
    max-width: unset;
    width: 100%;
  }
  .cart__bottom .checkout .checkout--label-1 {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .cart__container {
    padding: 150px 10px 50px 10px;
  }
  .cart__top--left {
    padding: 5px;
  }
  .cart__top--titles {
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .cart__top--titles span {
    margin-bottom: 20px;
  }
  .cart__img {
    margin-right: 15px;
  }
  .cart__top--right {
    width: 90%;
  }
  .cart__total ul li span {
    font-size: 14px;
  }
  .cart__total--buttons button {
    font-size: 10px;
  }
}
