@import url("../../../assets/fonts/fonts.css");

.category__content {
  display: flex;
  justify-content: space-between;
  color: #3e3e3e;
  font-size: 13px;
  font-family: Geometria;
}
.category__content .active {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );

  font-family: Geometria;
  font-weight: 700;
}
.category__left {
  width: 25%;
  border-right: 2px solid #e0e0e0;
}
.category__left ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.category__middle {
  width: 25%;
}
.category__middle ul li {
  margin-left: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.category__right {
  width: 58%;
}
.category__right {
  text-align: right;
  padding-right: 30px;
}
.category__right img {
  display: inline-block;
  width: 350px;
  height: 300px;
  /* margin: 0 auto; */
}

/* ************************************************************************************ */
/* .category__container {
  padding: 0 30px;
}
.category__title {
  max-width: 650px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category__title--line {
  width: 220px;
  height: 2px;
  background-color: #777777;
}
.category__title h2 {
  font-size: 36px;
  font-family: Gilroy;
  font-weight: 800;
  color: #ff0000;
  padding-bottom: 5px;
}
.show_click {
  margin: 15px 0;
}
.show_click span {
  font-size: 15px;
  font-weight: 900;
  color: #3e3e3e;
  cursor:  pointer;
}
.category__content {
  display: flex;
  justify-content: space-between;
  font-family: Geometria;
  font-weight: 700;
}
.category__item {
  width: 200px;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
.category__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.category__item p {
  z-index: 10;
  text-align: center;
  color: #ffffff;
} */
