.product {
}
.products__container {
  padding: 0 80px 35px;
}

.products__title {
  margin: 50px auto 0px;
}
.products__title h2 {
  margin: 0;
  font-size: 36px;
  text-align: left;
  font-weight: 700;
}
.products__title h2 span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
}
.product__sorting {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 75px;
}
.product__sorting li {
  margin-right: 40px;
  font-family: Geometria;
  font-weight: 500;
  font-size: 20px;
  color: #2e2d2d;
  cursor: pointer;
  position: relative;
}

.product__sorting li.active {
  margin-right: 40px;
  font-family: Geometria;
  font-weight: 500;
  font-size: 20px;
  font-weight: 700;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  cursor: pointer;
}
.product__sorting li.active::after {
  content: url("../../../assets//images/new_design/red_dot.svg");
  display: block;
  position: absolute;

  transition: all 0.3s linear;
  top: 13px;
  left: 50%;
  /* right: 50%; */
}
.product__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  max-width: 280px;
  font-family: Geometria;
  font-weight: 500;
  color: #272626;
  font-size: 14px;
  margin-bottom: 40px;
  border-radius: 5px;

  background-color: #ffffff;
  cursor: pointer;

  filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.05));
}
.product__img {
  width: 280px;
}
.product__img img {
  width: 100%;
}

.product__item--content {
  padding: 20px;
}
.product__name {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  color: #3e3e3e;
  /* text-align: center; */
}
.product__price {
  text-align: left;
}

.product__price span:first-child {
  font-size: 18px;
  font-family: Gilroy;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  margin-right: 12px;
}
.product__price span:last-child {
  font-weight: 700;
  color: #00a907;
}

.product__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.product__cart-button {
  padding: 8px 35px;

  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.product__cart-button span {
  margin-left: 15px;
}
.product__compare-button {
  border: 1px solid #aa2727;
  border-radius: 10px;
  padding: 3px 5px 1px;
}

/* .product__rating {
  margin: 5px 0;
} */

.product__pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.product__pagination--container {
  display: flex;
  align-items: center;
}
.product__pagination--link {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  border: 1px solid #aa2727;
  border-radius: 50%;

  cursor: pointer;
}

.product__pagination--previous {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #aa2727; */
  border-radius: 50%;

  background: #ffffff;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.product__pagination--next {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #aa2727; */
  border-radius: 50%;

  background: #ffffff;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
