.logo {
  background-color: #f4feff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
}
.logo__container {
  padding: 0 30px;

}
.logo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__items {
  /* width: 150px; */
}
.logo__img {
  display: block;
  /* width: 120px; */
}
/* SWIPER */

.swiper-slide {
  display: flex;
  justify-content: center;
}
