.compare__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px 120px 130px 120px;
}

/* .categoriesPage__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .categoriesPage__title--line {
  width: 220px;
  height: 2px;
  background-color: #777777;
} */
.compare__title h2 {
  text-align: center;
  margin-bottom: 30px;
}
.compare__title h2 span {
  font-size: 24px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );

  font-family: Geometria;
  font-weight: 700;
  margin-top: 50px;
}
.compare__categories {
  display: inline-block;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 70px;
}
.compare__categories ul {
  display: flex;
  /* margin-bottom: 40px; */
}
.compare__categories ul li {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #3f3d56;
  cursor: pointer;
  position: relative;
}
.compare__categories ul .active {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  cursor: pointer;
}
.compare__categories ul .active::after {
  content: url("../../assets/images/new_design/red_dot.svg");
  display: block;
  position: absolute;

  transition: all 0.3s linear;
  top: 13px;
  left: 50%;
  /* right: 50%; */
}
.compare__content {
  display: flex;
  /* filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.05)); */
}
.compare__products {
  display: flex;
  border-radius: 10px;
}

.compare__compare--buttons {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.compare__item {
}
.compare__item--card {
  padding: 20px;
  max-width: 300px;
  font-family: Geometria;
  font-weight: 500;
  color: #272626;
  font-size: 12px;
  /* padding-right: 10px; */
  cursor: pointer;
  text-align: center;

  /* filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.05)); */
  border-bottom: 1px solid #272626;
}
.compare__item:first-child .compare__item--card {
  background-color: #c9c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compare__item:first-child .compare__item--field {
  background-color: #c9c1c1;
}
.compare__item--field {
  /* padding: 20px; */
  height: 60px;
  max-width: 300px;
  font-family: Geometria;
  font-weight: 500;
  color: #272626;
  font-size: 12px;
  /* padding-right: 10px; */
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  /* filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.05)); */
  border-bottom: 1px solid #272626;
}

.compare__item--card:first-child {
  background-color: #ffffff;
  height: 250px;
}
/* .compare__left .compare__item--card:first-child {
  background-color: #c9c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compare__left .compare__item--field {
  background-color: #c9c1c1;
} */
.compare__img {
  width: 200px;
  margin: 0 auto;
}
.compare__img img {
  width: 100%;
}

.compare__item--content {
  padding: 5px;
  text-align: center;
}
.compare__name {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
  color: #3e3e3e;
  /* text-align: center; */
}
.compare__price {
  /* text-align: left; */
  margin-bottom: 10px;
}
.compare__price span {
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  margin-right: 12px;
}

.compare__empty h2 {
  text-align: center;
}
.compare__empty h2 span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(170, 39, 39, 1) 100%
  );
  font-size: 28px;
}
.compare__empty--img {
  max-width: 200px;
  margin: 20px auto;
}
.compare__empty--img img {
  width: 100%;
}

/* *********************************  MEDIA QUERY  *************************************** */
/* *********************************  max-width: 1400px  *************************************** */
@media (max-width: 1400px) {
  .compare__container {
    padding: 150px 50px 80px 50px;
  }
}

/* *********************************  max-width: 1200px  *************************************** */
@media (max-width: 1200px) {
  .compare__content {
    overflow: auto;
    padding-bottom: 20px;
  }
}

/* *********************************  max-width: 992px  *************************************** */
@media (max-width: 992px) {
  .compare__container {
    padding: 150px 30px 80px 30px;
  }
}
/* *********************************  max-width: 768px  *************************************** */
@media (max-width: 768px) {
  .compare__container {
    padding: 150px 20px 80px 20px;
  }
  .compare__item--card:first-child {
    height: 230px;
  }
  .compare__item--card {
    padding: 10px;
  }
  .compare__item:first-child .compare__item--card {
    font-size: 12px;
  }
  .compare__item--field {
    padding: 10px;
    font-size: 12px;
  }
  .compare__img {
    width: 150px;
  }
}
/* *********************************  max-width: 575px  *************************************** */
@media (max-width: 575px) {
  .compare__title h2 span {
    font-size: 18px;
  }
  .compare__item--card:first-child {
    height: 210px;
  }
  .compare__name {
    font-size: 12px;
  }
  .compare__price span {
    font-size: 14px;
  }
}

/* ///////////////////////////////////////////////// */

.compare__content::-webkit-scrollbar {
  width: 2px;
}

.compare__content::-webkit-scrollbar-track {
  background: #dddbdb;
  width: 2px;
}

.compare__content::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
  width: 2px;
}
