* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button {
  border-style: none;
}
input {
  border-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
