@import url("./assets/fonts/fonts.css");
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  width: 5px;
  /* border-radius: 5px; */
  background: linear-gradient(
    90deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(206, 53, 53, 1) 61%,
    rgba(170, 39, 75, 1) 100%
  );
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  background-color: #f9f9fd;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #3e3e3e;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #3e3e3e;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f00000;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"] {
  padding-left: 10px;
  font-size: 14px;
  font-family: Geometria;
  font-weight: 500;
  color: #2e2d2d;
}

